{% extends 'base.html' %}

{% block title %}龙泉大悲寺简介{% endblock %}
			
{% block content %}		
			

			
			<!-- Section -->
			<section class="section full-width-bg gray-bg">
				
				<div class="row">
				
				<div class="col-lg-9 col-md-9 col-sm-8">
						
						<h3 class="animate-onscroll no-margin-top">龙泉大悲寺</h3>
						
						<img class="align-left animate-onscroll" src="/static/img/dabeisi.jpg" alt="">
						
						<p class="animate-onscroll">&emsp;&emsp;早在上世纪二战前，荷兰华人华侨就开始了艰辛的赴欧生活。虽然迫于生计从事低层工作，但他们并没有忘却中华传统的伦理道德及2500多年的悠久历史文化。同时，他们注重后代的教育，帮助第二、三代华人华侨的子女学习中文，了解中华传统文化，并发动广大侨胞，群策群力，于1981年9月开始建立了乌得勒支中文学校及海牙、哈林中文学校，第二代、第三代华人华侨也逐渐活跃于欧洲社会的中上层。自二十世纪中叶，欧洲华人华侨在以胡志光为首的侨领的带领下，分别成立了欧洲华侨华人社团联合会、荷兰中国商会、旅荷华人华侨总会等一系列以促进中荷两国经贸往来为宗旨的民间社团。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;为了弘扬中华佛教文化，胡志光先生从2006年起就有了筹备佛堂的想法，并于国内国外近30多次的往返奔走。他坚持不懈的努力终于感动了广大的华人华侨信众们。2014年，在季增斌、金大中、丁建中、张春斋、叶彩云等几位多年热心于佛教文化信众的协助下，由56位华侨在荷兰乌得勒支省共同购置一处建筑，以此作为筹备佛教寺院的基地。目前已有不少于150位信众参与到寺院筹备工作中来，他们贡献着人力、财力、物力、心力，为拥有这样一个来之不易的场所贡献着自己的一份力量。</p>	
						
						<p class="animate-onscroll">&emsp;&emsp;为了将该寺院建设成一个正法道场，胡志光先生还组织部分骨干信众们，通过到国内北京、杭州、浙江等寺院参访学习，决定礼请上学下诚大和尚为导师、龙泉寺监院贤启法师为住持、中国福建仙游极乐寺六位比丘尼为常住僧，并在荷兰乌得勒支注册龙泉大悲基金会。导师上学下诚大和尚为寺院取名为龙泉大悲寺。</p>
				
				
			<!-- Section -->
			<section class="section full-width-bg gray-bg">

				<div class="row">
				
				<div class="col-lg-12 col-md-12 col-sm-12 animate-onscroll">
						
						<h3>寺院宗旨</h3>
						
						<!-- Accordions -->
						<ul class="accordions">
								
							<!-- Accordion -->
							<li class="accordion">
								
								<div class="accordion-header">
									<div class="accordion-icon"></div>
									<h6>传播佛教文化，造福社会</h6>
									
								</div>
								
								<div class="accordion-content">
								    <p>建立三宝具足的佛教寺院。佛教寺院是出家僧侣修行办道的圣地，是广大善男信女进行宗教活动的场所，也是传统文化的重要载体。</p>
								</div>
								
							</li>
							<!-- /Accordion -->
							
							<!-- Accordion -->
							<li class="accordion">
								
								<div class="accordion-header">
									<div class="accordion-icon"></div>
									<h6>凝聚荷兰华人华侨及当地民众，推动公益慈善</h6>
									
								</div>
								
								<div class="accordion-content">
									<p>积极开展公益慈善事业，凝聚大批社会爱心人士，尤其是凝聚荷兰华人华侨，参与到慈善行动中来，向社会传递佛教的正能量。</p>
								</div>
								
							</li>
							<!-- /Accordion -->
							
							<!-- Accordion -->
							<li class="accordion">
								
								<div class="accordion-header">
									<div class="accordion-icon"></div>
									<h6>为社会大众及佛教信众提供优良的教育</h6>
									
								</div>
								
								<div class="accordion-content">
									<p>对荷兰社会大众及佛教信众提供佛法上的教育、引导、帮助，这也是住持道场的出家人必须要做的弘法利生的工作。</p>
								</div>
								
							</li>
							<!-- /Accordion -->
							
							<!-- Accordion -->
							<li class="accordion">
								
								<div class="accordion-header">
									<div class="accordion-icon"></div>
									<h6>融合佛教文化与现代文明</h6>
									
								</div>
								
								<div class="accordion-content">
									<p>古老的佛教文化需要以现代人能够接受的方式方法来弘扬传播，现代人才能进一步学习、认识、实践佛教，因此从佛教中获得心灵的智慧和觉悟。</p>
								</div>
								
							</li>
							<!-- /Accordion -->


							<!-- Accordion -->
							<li class="accordion">
								
								<div class="accordion-header">
									<div class="accordion-icon"></div>
									<h6>促进佛教与其他宗教相融合</h6>
									
								</div>
								
								<div class="accordion-content">
									<p>我们将努力以更加开放的心态与其它宗教对话，以坦诚信任的心态与其它宗教通力合作，进行更广泛深入的交流，让更多国际友人听到中国佛教的“好声音”，为化解世界性危机、解决全球性问题贡献中国佛教的思想智慧。</p>
								</div>
								
							</li>
							<!-- /Accordion -->
							
						</ul>
						<!-- /Accordions -->						
					</div>
					
				</div>
				
			</section>
				
			
				</div>
				
<!-- Sidebar -->					
<div class="col-lg-3 col-md-3 col-sm-4 sidebar">
	
{% include 'sidebar_activites.html' %}
{% include 'sidebar_video.html' %}
{% include 'sidebar_upcoming_events.html' %}
{% include 'sidebar_xianer.html' %}						
					
</div>
<!-- /Sidebar -->					
				
				</div>
				
			</section>
			<!-- /Section -->
			
{% endblock %}

