{% extends 'base.html' %}

{% block title %}联系我们{% endblock %}
			
{% block content %}	
			
			
			<!-- Section -->
			<section class="section full-width-bg gray-bg">
				
				<div class="row">
				
				
					<div class="col-lg-9 col-md-9 col-sm-8">
						
						<div class="contact-map">
							<iframe width="900" height="400" frameborder="0"
								style="border: 0"
								src="https://www.google.com/maps/embed/v1/place?q=Longquan%20Great%20Compassion%20Monestary&key=AIzaSyDcr_64uIKtV1fSN2AAmoOEfRFGQP-FbOA"
								allowfullscreen></iframe>
						</div>
						
						<div class="row">
							
							<div class="col-lg-4 col-md-4 col-sm-6 animate-onscroll">
								
								<h6>地址</h6>
								<p>Adriaan van Bergenstraat 18,<br>
								3554 VE Utrecht, Netherlands</p>
								
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-6 animate-onscroll">
								
								<h6>开放时间</h6>
								<p>周一至周日 9:00-16:00<br></p>
								
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-6 animate-onscroll">
								
								<h6>Email</h6>
								<p><a href="mailto:longquannl@gmail.com">longquannl@gmail.com</a><br></p>
								
							</div>
							
						</div>
						

						
					</div>
					
	<div class="col-lg-3 col-md-3 col-sm-4 sidebar">
	
{% include 'sidebar_activites.html' %}					
					
</div>
<!-- /Sidebar -->					
			
				</div>
				
			</section>
			<!-- /Section -->

{% endblock %}



			
