{% extends 'base.html' %}

{% block title %}免责声明{% endblock %}
			
{% block content %}	

			<!-- Page Heading -->
			<section class="section page-heading animate-onscroll">

				<h1>免责声明</h1>
				<p class="breadcrumb">
				</p>

			</section>
			<!-- Page Heading -->




			<!-- Section -->
			<section class="section full-width-bg gray-bg">

				<div class="row">

					<div class="col-lg-12 col-md-12 col-sm-12">

						<div class="animate-onscroll">
				
							<p>在登录龙泉大悲网站后，请用户首先务必阅读并理解本声明。用户登录网站后的任何操作行为均被视为对本声明全部内容的完全认可和接受：</p>
						
						</div>

						<div class="animate-onscroll">
						<h1></h1>
							<p>1.龙泉大悲寺网是依据国家法律法规运营的公益性网站。访问者在从事与本网站相关的所有行为（包括但不限于访问浏览、利用、转载、宣传介绍）时，必须以善意且谨慎的态度行事；访问者不得故意或者过失的损害本网站的各类合法权益，不得利用本网站以任何方式直接或者间接的从事违反荷兰法律、国际公约以及社会公德的行为。
							</p>
						</div>

						<div class="animate-onscroll">
						<h1></h1>
							<p>2.
								本网站所刊发、转载的文章，其版权均归原版权所有者，如其他媒体、网站或个人从本网下载使用，请在转载有关文章时务必尊重该文章的版权、著作权，保留本网注明的“稿件来源”，并自负版权等法律责任。如擅自篡改为稿件来源为龙泉大悲寺网，本网将保留依法追究责任的权利。对本网站原创文章以及本网站标识，本网站享有自主知识产权。侵犯本网站之知识产权的，本网站将保留追究其法律责任的权利。
							</p>
						</div>

						<div class="animate-onscroll">
						<h1></h1>
							<p>3.
								本网刊发、转载文章出于传播中华优秀传统文化的目的，并不意味着赞同其观点或证实其内容的真实性。本网站文章仅代表作者本人的观点，不代表本网站的观点和看法，与本网站立场无关，文责作者自负。如果这些内容涉及到侵犯他人合法权益的，相关权利人应该及时通知龙泉大悲寺网，龙泉大悲寺网在收到上述通知后将依法进行审查，如审查属实，将尽快断开或删除相关内容。
							</p>
						</div>

						<div class="animate-onscroll">
						<h1></h1>
							<p>4.对于因不可抗力或龙泉大悲寺网站不能控制的原因造成的网络服务中断或其它缺陷，龙泉大悲寺网不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。
							</p>
						</div>

						<div class="animate-onscroll">
						<h1></h1>
							<p>5.本声明未涉及的问题参见国家有关法律法规，当本声明与国家法律法规冲突时，以国家法律法规为准。</p>
						</div>

					</div>

				</div>

			</section>
			<!-- /Section -->

{% endblock %}