		<!-- Footer -->
		<footer id="footer">

			<!-- Main Footer -->
			<div id="main-footer">

				<div class="row">

					<div class="col-lg-10 col-md-10 col-sm-6 animate-onscroll">

						<h4>友情链接</h4>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 menu-container">

							<ul class="menu">
								<li><a href="http://www.sara.gov.cn/" target="_blank">国家宗教局</a></li>
								<li><a href="http://www.chinakongzi.org/" target="_blank">中国孔子网</a></li>
								<li><a href="http://www.longquanzs.org/" target="_blank">龙泉寺</a></li>
							</ul>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 menu-container">

							<ul class="menu">
								<li><a href="http://www.chinabuddhism.com.cn/"
									target="_blank">中国佛教协会</a></li>
								<li><a href="http://www.chinareligion.cn/" target="_blank">中国宗教网</a></li>
								<li><a href="http://www.famensi.com/" target="_blank">法门寺</a></li>
							</ul>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 menu-container">

							<ul class="menu">
								<li><a href="http://www.taoist.org.cn/" target="_blank">中国道教协会</a></li>
								<li><a href="http://iwr.cass.cn/" target="_blank">中国宗教学术网</a></li>
								<li><a href="http://www.chrenai.org/" target="_blank">北京仁爱慈善基金会</a></li>
							</ul>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 menu-container">

							<ul class="menu">
								<li><a href="http://www.zgfxy.cn/" target="_blank">中国佛学院</a></li>
								<li><a href="http://blog.sina.com.cn/xuecheng"
									target="_blank">学诚法师新浪博客</a></li>
								<li><a href="http://www.ptnsl.cn/" target="_blank">莆田南少林寺</a></li>
							</ul>

						</div>
					</div>
						<div class="col-lg-2 col-md-2 col-sm-6 animate-onscroll">
						        <h4>微信公众号</h4>
								<img width="95px" height="95px"src="/static/img/qrcode.jpeg"></img>
						</div>

				</div>

			</div>
			<!-- /Main Footer -->




			<!-- Lower Footer -->
			<div id="lower-footer">

				<div class="row">

					<div class="col-lg-4 col-md-4 col-sm-4 animate-onscroll">

						<p class="copyright">Copyrights © 2017 All Rights Reserved by Longquan Great Compassion Monastery.</p>

						<div class="copyright-links">
							<a href="{% url 'app_longquan:about' %}">关于我们</a> / <a href="{% url 'app_longquan:disclaimer' %}">免责声明</a> / <a
								href="http://en.longquan.nl">English Version</a>
						</div>
					</div>

					<div class="col-lg-8 col-md-8 col-sm-8 animate-onscroll">
					
						<div class="social-media">
							<ul class="social-icons">
								<li class="facebook"><a href="http://www.facebook.com/share.php?u=http://zh.longquan.nl" target="_blank" class="tooltip-ontop"
									title="Facebook"><i class="icons icon-facebook"></i></a></li>
								<li class="twitter"><a href="http://twitter.com/home/?status=share http://zh.longquan.nl" target="_blank" class="tooltip-ontop"
									title="Twitter"><i class="icons icon-twitter"></i></a></li>
								<li class="google"><a href="https://plus.google.com/share?url=http://zh.longquan.nl" target="_blank"  class="tooltip-ontop"
									title="Google Plus"><i class="icons icon-gplus"></i></a></li>
								<li class="youtube"><a href="https://www.youtube.com/channel/UCA1pdFIiOF_JB9pwnZe206A" class="tooltip-ontop"
									title="Youtube"><i class="icons icon-youtube-1"></i></a></li>
								<li class="email"><a href="mailto:longquannl@gmail.com" class="tooltip-ontop"
									title="Email"><i class="icons icon-mail"></i></a></li>
							</ul>
						</div>

					</div>

				</div>

			</div>
			<!-- /Lower Footer -->


		</footer>
		<!-- /Footer -->
