{% extends 'base.html' %}

{% block title %}龙泉大悲寺{% endblock %}
			
{% block content %}	

			<!-- Section -->
			<section class="section full-width-bg">

				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-8">

						<!-- Main Slider -->
						<div class="flexslider main-flexslider animate-onscroll">

							<ul class="slides">

								<li id="main_flex_1">
								<a href="dabeishiye-single.html"> 
									<div class="slide align-left">
									<h3 class="news_title">龙泉大悲寺圆满举办观世音菩萨圣诞日法会</h4>
									
									</div>
									</a>

								</li>

								<li id="main_flex_2">
								<a href="dabeishiye-share-single.html"> 
									<div class="slide align-left">
									<h3 class="news_title">心得分享|观音菩萨就在我们身边</h4>
									
									</div>
									</a>
								</li>

								<li id="main_flex_3">
								<a href="dabeishiye-single.html"> 
									<div class="slide align-left">
									<h3 class="news_title">大悲视野 | 法轮常转 法相常新</h4>
									
									</div>
									</a>

								</li>

							</ul>

						</div>
						<!-- /Main Slider -->

					</div>


					<div class="col-lg-3 col-md-3 col-sm-4 sidebar">

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="events.html"> <i
								class="icons icon-calendar"></i>
								<h4>法事活动</h4>
								<p>查看近期即将举行的法事活动</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="seminars.html"> <i
								class="icons icon-share"></i>
								<h4>学修课程</h4>
								<p>每周固定时间交流学习班</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="get-involved.html"> <i
								class="icons icon-user"></i>
								<h4>义工</h4>
								<p>加入我们</p>
							</a>
						</div>

<div class="social-media">
							<ul class="social-icons">
								<li class="facebook"><a href="http://www.facebook.com/share.php?u=http://zh.longquan.nl" target="_blank" class="tooltip-ontop"
									title="Facebook"><i class="icons icon-facebook"></i></a></li>
								<li class="twitter"><a href="http://twitter.com/home/?status=share http://zh.longquan.nl" target="_blank" class="tooltip-ontop"
									title="Twitter"><i class="icons icon-twitter"></i></a></li>
								<li class="google"><a href="https://plus.google.com/share?url=http://zh.longquan.nl" target="_blank"  class="tooltip-ontop"
									title="Google Plus"><i class="icons icon-gplus"></i></a></li>
								<li class="youtube"><a href="#" class="tooltip-ontop"
									title="Youtube"><i class="icons icon-youtube-1"></i></a></li>
								<li class="email"><a href="mailto:longquannl@gmail.com" class="tooltip-ontop"
									title="Email"><i class="icons icon-mail"></i></a></li>
							</ul>
							<ul class="social-buttons">
								<li></li>
								<li>
									<div class="fb-share-button"
										data-href="https://developers.facebook.com/docs/plugins/"
										data-type="button_count"></div>
								</li>

							</ul>
						</div>

					</div>

				</div>

			</section>
			<!-- /Section -->

			<!-- Section -->
			<section class="section full-width-bg gray-bg">

				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-8">

                        <!-- lasted-news -->
						<h3 class="animate-onscroll no-margin-top">最新资讯</h3>

						
						<div class="blog-post big animate-onscroll">

							<div class="post-image">
								<img src="img/latest-news.jpg" alt="">
							</div>

							<h4 class="post-title">
								<a href="dabeishiye-single.html">报道|释迦牟尼佛涅槃日法会</a>
							</h4>

							<div class="post-meta">
								<span> <a href="#">杨罡鉴</a></span> <span>2017-03-14</span>
							</div>

							<p>每年的农历二月十五，是殊胜的释迦牟尼佛涅槃纪念日。今年的这个纪念日（2017年3月12日）又因是佛历2560周年，而更添吉祥庄严。为了感念佛陀悲悯众生，慈航初启，荷兰龙泉大悲寺举办了圆满的释迦牟尼涅槃纪念日法会，于荷华信众遍施甘露法雨，广布佛法正念</p>

							<a href="dabeishiye-single.html"
								class="button read-more-button big button-arrow">详情</a>

						</div>
						<!-- /other news -->
						
						<!-- Owl Carousel -->
						<div class="owl-carousel-container">

							<div class="owl-header">
							<h3>更多</h3>
								<div class="carousel-arrows animate-onscroll">
									<span class="left-arrow"><i class="icons icon-left-dir"></i></span>
									<span class="right-arrow"><i
										class="icons icon-right-dir"></i></span>
								</div>

							</div>

							<div class="owl-carousel" data-max-items="3">


								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/news5.jpg" alt="">
										</div>

	<h4 class="post-title">
											<a href="dabeishiye-single.html">荷兰当地武术团参访龙泉大悲寺</a>
										</h4>

										<div class="post-meta">
											<span> <a href="#">赵秋荣</a></span> <span>2017-03-14 11:28</span>
										</div>

										<p>3月19日，星期日，荷兰龙泉大悲寺接待了荷兰武术团体精武会的十八位荷兰当地太极拳练习者。</p>

										<a href="dabeishiye-single.html"
											class="button read-more-button big button-arrow">详情</a>


									</div>
									<!-- /Blog Post -->

								</div>	
								
								<!-- /Owl Item -->
								
								
								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/news5.jpg" alt="">
										</div>

										<h4 class="post-title">
											<a href="dabeishiye-single.html">荷兰当地武术团参访龙泉大悲寺</a>
										</h4>

										<div class="post-meta">
											<span> <a href="#">赵秋荣</a></span> <span>2017-03-14 11:28</span>
										</div>

										<p>3月19日，星期日，荷兰龙泉大悲寺接待了荷兰武术团体精武会的十八位荷兰当地太极拳练习者。</p>

										<a href="dabeishiye-single.html"
											class="button read-more-button big button-arrow">详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->

							    <!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/news5.jpg" alt="">
										</div>

										<h4 class="post-title">
											<a href="dabeishiye-single.html">荷兰当地武术团参访龙泉大悲寺</a>
										</h4>

										<div class="post-meta">
											<span> <a href="#">赵秋荣</a></span> <span>2017-03-14 11:28</span>
										</div>

										<p>3月19日，星期日，荷兰龙泉大悲寺接待了荷兰武术团体精武会的十八位荷兰当地太极拳练习者。</p>

										<a href="dabeishiye-single.html"
											class="button read-more-button big button-arrow">详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->
								
								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/news5.jpg" alt="">
										</div>

										<h4 class="post-title">
											<a href="dabeishiye-single.html">荷兰当地武术团参访龙泉大悲寺</a>
										</h4>

										<div class="post-meta">
											<span> <a href="#">赵秋荣</a></span> <span>2017-03-14 11:28</span>
										</div>

										<p>3月19日，星期日，荷兰龙泉大悲寺接待了荷兰武术团体精武会的十八位荷兰当地太极拳练习者。</p>

										<a href="dabeishiye-single.html"
											class="button read-more-button big button-arrow">详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->

							</div>

						</div>
						<!-- /Owl Carousel -->
						
						<!-- /lasted-news -->
						
						<div class="divider"></div>
						
						<!-- share -->
						<h3 class="animate-onscroll no-margin-top">心得分享</h3>

						
						<div class="blog-post big animate-onscroll">

							<div class="post-image">
								<img src="img/latest-news.jpg" alt="">
							</div>

							<h4 class="post-title">
								<a href="dabeishiye-single.html">报道|释迦牟尼佛涅槃日法会</a>
							</h4>

							<div class="post-meta">
								<span> <a href="#">杨罡鉴</a></span> <span>2017-03-14</span>
							</div>

							<p>每年的农历二月十五，是殊胜的释迦牟尼佛涅槃纪念日。今年的这个纪念日（2017年3月12日）又因是佛历2560周年，而更添吉祥庄严。为了感念佛陀悲悯众生，慈航初启，荷兰龙泉大悲寺举办了圆满的释迦牟尼涅槃纪念日法会，于荷华信众遍施甘露法雨，广布佛法正念</p>

							<a href="dabeishiye-single.html"
								class="button read-more-button big button-arrow">详情</a>

						</div>
						<!-- /other news -->
						
						<!-- Owl Carousel -->
						<div class="owl-carousel-container">

							<div class="owl-header">
							<h3>更多</h3>
								<div class="carousel-arrows animate-onscroll">
									<span class="left-arrow"><i class="icons icon-left-dir"></i></span>
									<span class="right-arrow"><i
										class="icons icon-right-dir"></i></span>
								</div>

							</div>

							<div class="owl-carousel" data-max-items="3">


								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/news5.jpg" alt="">
										</div>

	<h4 class="post-title">
											<a href="dabeishiye-single.html">荷兰当地武术团参访龙泉大悲寺</a>
										</h4>

										<div class="post-meta">
											<span> <a href="#">赵秋荣</a></span> <span>2017-03-14 11:28</span>
										</div>

										<p>3月19日，星期日，荷兰龙泉大悲寺接待了荷兰武术团体精武会的十八位荷兰当地太极拳练习者。</p>

										<a href="dabeishiye-single.html"
											class="button read-more-button big button-arrow">详情</a>


									</div>
									<!-- /Blog Post -->

								</div>	
								
								<!-- /Owl Item -->
								
								
								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/news5.jpg" alt="">
										</div>

										<h4 class="post-title">
											<a href="dabeishiye-single.html">荷兰当地武术团参访龙泉大悲寺</a>
										</h4>

										<div class="post-meta">
											<span> <a href="#">赵秋荣</a></span> <span>2017-03-14 11:28</span>
										</div>

										<p>3月19日，星期日，荷兰龙泉大悲寺接待了荷兰武术团体精武会的十八位荷兰当地太极拳练习者。</p>

										<a href="dabeishiye-single.html"
											class="button read-more-button big button-arrow">详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->

							    <!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/news5.jpg" alt="">
										</div>

										<h4 class="post-title">
											<a href="dabeishiye-single.html">荷兰当地武术团参访龙泉大悲寺</a>
										</h4>

										<div class="post-meta">
											<span> <a href="#">赵秋荣</a></span> <span>2017-03-14 11:28</span>
										</div>

										<p>3月19日，星期日，荷兰龙泉大悲寺接待了荷兰武术团体精武会的十八位荷兰当地太极拳练习者。</p>

										<a href="dabeishiye-single.html"
											class="button read-more-button big button-arrow">详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->
								
								<!-- Owl Item -->
								<div>

									<!-- Blog Post -->
									<div class="blog-post animate-onscroll">

										<div class="post-image">
											<img src="img/news5.jpg" alt="">
										</div>

										<h4 class="post-title">
											<a href="dabeishiye-single.html">荷兰当地武术团参访龙泉大悲寺</a>
										</h4>

										<div class="post-meta">
											<span> <a href="#">赵秋荣</a></span> <span>2017-03-14 11:28</span>
										</div>

										<p>3月19日，星期日，荷兰龙泉大悲寺接待了荷兰武术团体精武会的十八位荷兰当地太极拳练习者。</p>

										<a href="dabeishiye-single.html"
											class="button read-more-button big button-arrow">详情</a>

									</div>
									<!-- /Blog Post -->

								</div>
								<!-- /Owl Item -->

							</div>

						</div>
						<!-- /Owl Carousel -->
						
						<!-- /share -->
						


					</div>



					<!-- Sidebar -->
					<div class="col-lg-3 col-md-3 col-sm-4 sidebar">

						<!-- Featured Video -->
						<div class="sidebar-box white featured-video animate-onscroll">
							<h3>原创视频</h3>
							<iframe width="100%" height="100%" src="http://www.youtube.com/embed/goLpJ-kIvtk"></iframe>				

							<a href="videos.html" class="button transparent button-arrow">更多视频</a>
						</div>
						<!-- /Featured Video -->
						<!-- Upcoming Events -->
						<div class="sidebar-box white animate-onscroll">
							<h3>近期法会</h3>
							<ul class="upcoming-events">

								<!-- Event -->
								<li>
									<div class="date">
										<span> <span class="day">28</span> <span class="month">3月</span>
										</span>
									</div>

									<div class="event-content">
										<h6>
											<a href="events.html">三月初一法会</a>
										</h6>
										<ul class="event-meta">
											<li><i class="icons icon-clock"></i> 9:30 - 9:50 上大供 </li>
											<li><i class="icons icon-clock"></i> 9:50 - 11:20 初一早殿 </li>
											<li><i class="icons icon-clock"></i> 11:20 - 11:40 行脚禅前行 </li>
											<li><i class="icons icon-clock"></i> 11:50 - 12:40 午斋 </li>
											<li><i class="icons icon-clock"></i> 12:50 - 14:30 行脚禅 </li>
											<li><i class="icons icon-clock"></i> 14:30 - 15:30 晚殿 </li>
											<li><i class="icons icon-clock"></i> 15:40 - 16:30 读书会《好好说话》 </li>
										</ul>
									</div>
								</li>
								<!-- /Event -->


							</ul>
							<a href="events.html" class="button transparent button-arrow">更多法事活动</a>
						</div>
						<!-- /Upcoming Events -->
						<!-- Image Banner -->
						<div class="sidebar-box image-banner animate-onscroll">
							<a href="xianer.html"> <img src="img/xianer.jpeg" alt="">
								<h3>小和尚贤二</h3> <span
								class="button transparent button-arrow">更多贤二</span>
							</a>
						</div>
						<!-- /Image Banner -->
					</div>
					<!-- /Sidebar -->




				</div>

			</section>
			<!-- /Section -->
{% endblock %}