
					    <!-- Popular News -->
						<div class="sidebar-box white animate-onscroll">
							<h3>热门文章</h3>
							<ul class="popular-news">
							
								<!-- Blog Item -->
								<li>
									
									<div class="post-content">
										<h6><a href="blog-single-sidebar.html">你所未知的，一群默默奋斗着的中国少年</a></h6>
										<div class="post-meta">
											<span><a href="#">学诚法师</a></span>
											<span>2017-03-24 11:28</span>
										</div>
									</div>
								</li>
								<!-- /Blog Item -->
								
								<!-- Blog Item -->
								<li>
									<div class="post-content">
										<h6><a href="blog-single-sidebar.html">博华寺举办首次皈依法会</a></h6>
										<div class="post-meta">
											<span><a href="#">学诚法师</a></span>
											<span>2017-03-14 11:28</span>
										</div>
									</div>
								</li>
								<!-- /Blog Item -->
								
								<!-- Blog Item -->
								<li>
									
									<div class="post-content">
										<h6><a href="blog-single-sidebar.html">应当充分发挥宗教在构建和谐社会中的重要作用</a></h6>
										<div class="post-meta">
											<span><a href="#">学诚法师</a></span>
											<span>2017-03-24 11:28</span>
										</div>
									</div>
								</li>
								<!-- /Blog Item -->
								
							</ul>
							
						</div>
						<!-- /Popular News -->						
