		
					
						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="{% url 'app_longquan:events' %}"> <i
								class="icons icon-calendar"></i>
								<h4>法事活动</h4>
								<p>查看近期即将举行的法事活动</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="{% url 'app_longquan:seminars' %}"> <i
								class="icons icon-share"></i>
								<h4>学修课程</h4>
								<p>每周固定时间交流学习班</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="{% url 'app_longquan:get-involved' %}"> <i
								class="icons icon-user"></i>
								<h4>义工</h4>
								<p>加入我们</p>
							</a>
						</div>
						
