{% extends 'base.html' %}

{% block title %}僧团{% endblock %}
			
{% block content %}		
			
			<!-- Section -->
			<section class="section full-width-bg gray-bg">
				
				<div class="row">
				
					<div class="col-lg-12 col-md-12 col-sm-12">
						
						
								<!-- Team Member -->
								<div class="team-member animate-onscroll big">
									
									<img class="team-member-image" src="/static/img/team/xianqi.jpg" alt="">
									
									<div class="team-member-info">
										
										<h2>贤启法师</h2>
										<span class="job">住持</span>
										
										<div class="team-member-more">
											<p>贤启法师，2000年获清华大学核能及热能利用专业博士学位。2004年于福建莆田广化寺出家。2006年至2014年，在北京龙泉寺先后承担文化部、慈善部和弘宣部等工作。现任福建泉州普济寺住持、荷兰龙泉大悲寺住持。</p>
											
										</div>
										
									</div>
									
								</div>
								<!-- /Team Member -->						
						

								<!-- Team Member -->
								<div class="team-member animate-onscroll big">
									
									<img class="team-member-image" src="/static/img/team/xianqing.jpg" alt="">
									
									<div class="team-member-info">
										
										<h2>贤清法师</h2>
										<span class="job">副住持</span>
										
										<div class="team-member-more">
											<p>贤清法师，2007年获清华大学工程热物理专业博士学位。2008年于北京龙泉寺出家。2009年至2013年在中国佛教协会担任学诚大和尚秘书，2013年至今主管翻译中心英文团队事务，2015年起担任荷兰龙泉大悲寺副住持，2016年起担任北京龙泉寺国际弘法事务执行长。</p>
											
										</div>
										
									</div>
									
								</div>
					
						
					</div>
					
				
				</div>
				
			</section>
			<!-- /Section -->
		
{% endblock %}