
{% extends 'base.html' %}

{% block title %}法语{% endblock %}
			
{% block content %}		
				
<script>

</script>

<!-- Page Heading -->
<section class="section page-heading animate-onscroll">
    <h1>法语</h1>
</section>
<!-- Page Heading -->

<!-- Section -->
<section class="section full-width-bg gray-bg">

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8">
            <ul>
                {% for fayu in fayu_list %}
                <li><a href="/longquan/venerable-fayu-single/{{fayu.topic|safe}}">{{ fayu.topic | safe }}</a></li>
                {% endfor %}	
            </ul>
        </div>

        <!-- Sidebar -->					
        <div class="col-lg-3 col-md-3 col-sm-4 sidebar">

        {% include 'sidebar_activites.html' %}
        {% include 'sidebar_upcoming_events.html' %}
        {% include 'sidebar_xianer.html' %}						

        </div>
        <!-- /Sidebar -->							
				
    </div>

</section>
<!-- /Section -->


{% endblock %}