
{% extends 'base.html' %}

{% block title %}学诚法师简介{% endblock %}
			
{% block content %}
			
			<!-- Page Heading -->
				
			</section>
			<!-- Page Heading -->

			
			<!-- Section -->
			<section class="section full-width-bg gray-bg">
				
				<div class="row">
				
				<div class="col-lg-9 col-md-9 col-sm-8">
						
						<h3 class="animate-onscroll no-margin-top">学诚法师</h3>
						
						<img class="align-left animate-onscroll" src="/static/img/xuecheng.jpg" alt="">
						
						<p class="animate-onscroll">&emsp;&emsp;学诚法师说：“今天所做的事，是为明天做准备；今年所做的事，是为明年做准备；生生世世所做的事是为成佛做准备。现在还不是最好，唯有成佛才是最好！”</p>
						
						<h4 class="animate-onscroll">学修经历</h4>
						
						<p class="animate-onscroll">&emsp;&emsp;学诚法师，1966年8月生于福建仙游。幼年阅读玄奘大师传，深为大师“远绍如来，近光遗法”的宏愿和西行求法的精神所鼓舞。1982年2月决意出家，于莆田广化寺定海长老（现任印度尼西亚大乘僧伽会会长）座下剃度，并依止圆拙老法师（曾任中国佛教协会咨议委员会主席，1997年示寂）修学。圆老亲近过弘一大师和印光大师，持戒念佛，弘毅谦谨，对法师严格教导，习劳、勤学、持戒、中道。在圆老的指点下，法师1984年赴中国佛学院就读，并于1988年攻读研究生，重点研学法相唯识。在佛学院期间，法师仍然严谨持戒、专心学修，每天课余持诵《大悲咒》百遍，受到时任中国佛教协会会长兼中国佛学院院长的赵朴初居士的赞赏和关怀。1989年，在莆田广化寺执事法师的推举下，年仅23岁的学诚法师担任莆田广化寺方丈。1991年，任福建佛学院副院长，1995年担任院长。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;法师倡导三系融合、八宗并弘、建立汉传佛教修学体系，提出“丛林学院化，学院丛林化，修学一体化，管理科学化”的四化理念；要求以“志、道、德、才、学”作为僧伽教育的标准。法师在福建佛学院亲自教课，安排学僧参与广化寺常住的法会活动和执事工作；在广化寺依律制半月诵戒，办法会、打佛七、开佛学班，1996年举办了建国以来首次历时108天的规范传戒。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;在2002年之前，法师在主持福建佛学院和广化寺工作之余，用大量时间闻思经论，还在海内外参访高僧大德，亲近学习，并请来广化寺教导僧众。在这期间，法师深入思考佛教的信仰、道风、教制、人才等建设，在《法音》上发表文章：《言行平淡话人生——重温弘一大师“青年佛徒应注意的四项”感言》、《现代丛林修学生活的趋势》、《僧尼受戒制度古今谈》、《人间佛教思想之管见》、《漫谈佛教的人才建设》、《应当切实加强出家众的素质教育》等。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;赵朴老视察广化寺时，题诗赞扬：“律己其志刚，接物其气柔；学修不出门，声教及遐陬；如何办道场，傥于此间求。”2000年，朴老示寂，法师十分悲痛，书写挽联：“感慈爱逾常、栽培有加，愧未报答涓埃，每念音容犹涕泪；怅南北修阻、近侍无多，忽得传来噩耗，那堪异地最凄凉！”</p>
						
						<h4 class="animate-onscroll">弘教利人</h4>
						
						<p class="animate-onscroll">&emsp;&emsp;2002年9月中国佛教协会召开七届代表大会，一诚老和尚当选会长，学诚法师当选副会长兼秘书长。法师秉承太虚大师和赵朴老人间佛教的思想和弘护佛教的志愿，2004年1月又兼任陕西省扶风县法门寺住持。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;为了使佛教更好地适应社会、服务众生，法师积极参与和组织佛教界开展文化教育和慈善救济活动，如面对青年知识分子，2003年开始在福建广化寺举办了十届 “福慧之旅”营队活动，2006年7月开始在陕西法门寺举办“法门之光”夏令营，帮助青年人认识生命意义、获得修养方法。2006年底，北京一群居士在法师的指导下，创立北京市仁爱慈善基金会，开展社区关怀、孤儿助学、旧衣捐赠等项目，进行贫困山区和灾区救济活动，如对2008年1月中国南方雪灾和5月四川震灾，都积极参与了救济工作，取得社会好评。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;法师还抽时间写文章论述佛教自身建设，如《如何加强佛教自身建设》、《佛教世俗化倾向的思考》、《以寺养寺与公益事业》、《略论中国佛教文化建设》等，特别提出“信仰为根本，解脱为目的，教育为中心，文化为纽带”的理念。法师站在整个宗教与社会的角度也撰写了多篇文章，如《对新世纪中国宗教的一些思考》、《应当充分发挥宗教在构建和谐社会中的重要作用》、《宗教关注全球化问题》、《人类道德危机与宗教伦理关怀》等。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;为了更好地代表中国宗教界，特别是佛教界适应社会、报效国家、影响社会，法师兼任一些社会职务，参与较多国际交往。社会职务上，法师是第九届、第十届全国政协委员，第十一届全国政协常委，又2004年3月任中国宗教界和平委员会副秘书长，2005年7月任中国统一战线理论研究会理事，2005年9月任中央国家机关青年联合会副主席，2006年12月任中国宗教学会副会长，2007年11月任中国联合国协会理事。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;国际交往上，法师足迹遍布世界众多国家，如埃及、印度、尼泊尔、泰国、斯里兰卡、越南、马来西亚、新加坡、印度尼西亚、菲律宾、日本、韩国、美国、加拿大、瑞士、法国、塞浦洛斯、西班牙等。特别2004年5月，应日本感谢基金会邀请，赴瑞士参加“关注儿童的宗教者全球网络”第二次世界论坛会议，代表中国宗教界作了题为“不同宗教不同教派携起手来，为儿童缔造更加美好的明天”的发言；2005年2月，赴印度尼西亚参加第一届“多宗教和平与和谐教育国际研讨会”，作了“让世界因多元宗教的存在而更加和谐，更加美丽”的发言；2006年8月赴日本参加第八届“世界宗教和平会议”，作了“共享宗教智能，共享和平安全”的发言；2007年6月赴泰国接受朱拉隆功佛教大学授予教育学名誉博士学位；2008年7月，应“世界伊斯兰教联盟”邀请，代表中国佛教界参加在西班牙马德里举行的“世界对话大会”，作了“开展多元宗教对话，共同建设和谐世界”的大会发言。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;法师虽然工作繁忙，仍然积极学修，一方面挤时间闻思经论，另一方面向高僧大德学习和切磋，如法师曾说：“一方面要妥善规划好自己的时间，婉言辞谢各种不必要的应酬，把时间用在最重要的事情上；一方面要忙里偷闲，充分利用零碎片断的时间来学习，在各种场合多听、多看、多观察、多思考，也就是在忙事务的同时，用心去实践佛法，从而越来越感受到佛陀智慧的伟大，以及佛法的真实不虚、不可思议。”2007年2月开始，法师在《法音》上发表一系列关于僧俗学修的文章，如《如理听闻是趣入佛法的先导》、《明记宗旨，建立目标，不忘发心》、《离惑业苦，得究竟乐》、《行出家之道，成人天师表》、《时空因缘与内修外弘》等，文章广引经论、落实现实学修，充实汉传佛教修学体系的理论内容。</p>
						
						<h4 class="animate-onscroll">培养人才</h4>
						
						<p class="animate-onscroll">&emsp;&emsp;早在1984年，法师看到北京高素质人才密集，又看到很多北京居士辛苦地跑外地寺庙，就特别想在北京建立一个大道场。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;缘随愿来，2004年有居士将海淀区凤凰岭上重建的龙泉寺恳请法师主持，法师调派僧才入住，逐渐完备寺庙水、暖等基础设施建设，并建立诵戒、安居以及钱财归公、按需分配等僧团制度。2005年4月11日，龙泉寺正式登记成为宗教活动场所，对外开展多种法会活动。法师往返于中国佛协和龙泉寺之间，倾注大量心力在龙泉寺培养僧俗人才。法师说：“我最喜欢做的事情是讲说佛法开示、培养人才。培养人才不是为哪一个寺庙，更不是为哪一个人，而是为整个佛教。”</p>
						
						<p class="animate-onscroll">&emsp;&emsp;2006年夏安居期间，法师在龙泉寺僧众戒律课上针对持戒学修做系列开示。又利用法会期间和周末为僧俗做“感悟人生”系列十堂开示，录像制成DVD碟，并做英语配音和双语字幕，广泛结缘流通。2007年初的春节法会期间进一步做“苦乐人生”系列十二堂开示。2008年元旦假期针对龙泉寺僧众和义工的学修问题，进行诵经、静坐等四天精进共修，并做“认识人生”系列十堂开示。</p>
						
						<p class="animate-onscroll">&emsp;&emsp;2006年2月，有人主动在新浪网为法师开办博客，成为法师宣扬佛法、与信众交流的方便平台。2007年一部分博客文章编辑成《和尚·博客》一书出版，大受欢迎。2008年继续编辑《和尚·博客》系列文集。法师说要通过博客和博客文集促进佛教文化的发展，同时也通过写博客文章和编辑博客书而培养僧俗人才。在一些居士要求和发心推动下，法师指导开办“龙泉之声”网站，以佛法为核心、儒道为两翼，弘扬中华传统文化，也由此接引信众、培养人才。为了弘法利生、培养人才，法师顺应因缘、把握机会、不拘一格，法师说：“我做事没有绝对固定的想法，只是对佛法有绝对信心，其它看情况调整。”</p>
						
						<h4 class="animate-onscroll">展望未来</h4>
						
						<p class="animate-onscroll">&emsp;&emsp;浏览学诚法师的学修和业绩，似乎满是光彩和鲜花，而法师说：“过去的成绩是敌人，现在的成绩是朋友，未来的成绩是老师。”又说：“今天所做的事，是为明天做准备；今年所做的事，是为明年做准备；生生世世所做的事是为成佛做准备。现在还不是最好，唯有成佛才是最好！”或许正是保有这样的心态，才能成就无量的功德。</p>
						
					
					</div>
					
<!-- Sidebar -->					
<div class="col-lg-3 col-md-3 col-sm-4 sidebar">
	
{% include 'sidebar_activites.html' %}
{% include 'sidebar_video.html' %}
{% include 'sidebar_upcoming_events.html' %}
{% include 'sidebar_xianer.html' %}						
					
</div>
<!-- /Sidebar -->						
				
				</div>
				
			</section>
			<!-- /Section -->

{% endblock %}
			