{% extends 'base.html' %}

{% block title %}原创视频{% endblock %}
			
{% block content %}		
						
			<!-- Section -->
			<section class="section full-width-bg gray-bg">
				
				<div class="row">
				
					<div class="col-lg-9 col-md-9 col-sm-8">
						
						
						<div class="media-items row">
							
							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-videos category-meetings" data-nameorder="2" data-dateorder="1">
							
						    <!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								<div class="media-image">
								
									<img src="img/media/video.jpeg" alt="">
									
									<div class="media-hover">
										<div class="media-icons">
											<a href="https://www.youtube.com/watch?v=thXQixKQ6aU" data-group="media-jackbox" data-thumbnail="img/media/media2.jpg" class="jackbox media-icon"><i class="icons icon-play"></i></a>
                                        </div>
									</div>
								
								</div>
								
																
								<div class="media-info">
								
									<div class="media-header">
										
										<div class="media-format">
											<div>
											<i class="icons icon-video"></i>
											</div>
										</div>
										
										<div class="media-caption">
											<h2>欧洲荷兰龙泉大悲寺开光大典—剪彩揭幕仪式</h2>
										    <span class="tags">2015年12月13日</span>
										
										</div>
										
									</div>
									
									<div class="media-description">
										<p>欧洲荷兰龙泉大悲寺开光大典盛况—中国佛教协会会长—学诚大和尚主持开光仪式. </p>
									</div>
									
								</div>
								
																
							</div>
							<!-- /Media Item -->							
							</div>
							
							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-videos category-meetings" data-nameorder="2" data-dateorder="1">
							
						    <!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								<div class="media-image">
								
									<img src="img/media/video.jpeg" alt="">
									
									<div class="media-hover">
										<div class="media-icons">
											<a href="https://www.youtube.com/watch?v=IjYuS19Ua80" data-group="media-jackbox" data-thumbnail="img/media/media2.jpg" class="jackbox media-icon"><i class="icons icon-play"></i></a>
                                        </div>
									</div>
								
								</div>
								
																
								<div class="media-info">
								
									<div class="media-header">
										
										<div class="media-format">
											<div>
											<i class="icons icon-video"></i>
											</div>
										</div>
										
										<div class="media-caption">
											<h2>荷兰龙泉大悲寺股东大会</h2>
										    <span class="tags">2016年4月5日</span>
										
										</div>
										
									</div>
									
									<div class="media-description">
										<p>荷兰龙泉大悲寺股东大会纪实报道(18-1-2016) </p>
									</div>
									
								</div>
								
																
							</div>
							<!-- /Media Item -->							
							</div>

							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-videos category-meetings" data-nameorder="2" data-dateorder="1">
							
						    <!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								<div class="media-image">
								
									<img src="img/media/video.jpeg" alt="">
									
									<div class="media-hover">
										<div class="media-icons">
											<a href="hhttps://www.youtube.com/watch?v=6UNcMRdqBcY" data-group="media-jackbox" data-thumbnail="img/media/media2.jpg" class="jackbox media-icon"><i class="icons icon-play"></i></a>
                                        </div>
									</div>
								
								</div>
								
																
								<div class="media-info">
								
									<div class="media-header">
										
										<div class="media-format">
											<div>
											<i class="icons icon-video"></i>
											</div>
										</div>
										
										<div class="media-caption">
											<h2>荷兰龙泉大悲寺周年庆祝活动专题报道</h2>
										    <span class="tags">2016年12月23日</span>
										
										</div>
										
									</div>
									
									<div class="media-description">
										<p>2016年12月11日至13日，隆重举办周年庆典。</p>
									</div>
									
								</div>
								
																
							</div>
							<!-- /Media Item -->							
							</div>
							

							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-videos category-meetings" data-nameorder="2" data-dateorder="1">
							
						    <!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								<div class="media-image">
								
									<img src="img/media/video.jpeg" alt="">
									
									<div class="media-hover">
										<div class="media-icons">
											<a href="https://www.youtube.com/watch?v=thXQixKQ6aU" data-group="media-jackbox" data-thumbnail="img/media/media2.jpg" class="jackbox media-icon"><i class="icons icon-play"></i></a>
                                        </div>
									</div>
								
								</div>
								
																
								<div class="media-info">
								
									<div class="media-header">
										
										<div class="media-format">
											<div>
											<i class="icons icon-video"></i>
											</div>
										</div>
										
										<div class="media-caption">
											<h2>欧洲荷兰龙泉大悲寺开光大典—剪彩揭幕仪式</h2>
										    <span class="tags">2015年12月13日</span>
										
										</div>
										
									</div>
									
									<div class="media-description">
										<p>欧洲荷兰龙泉大悲寺开光大典盛况—中国佛教协会会长—学诚大和尚主持开光仪式. </p>
									</div>
									
								</div>
								
																
							</div>
							<!-- /Media Item -->							
							</div>
							
							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-videos category-meetings" data-nameorder="2" data-dateorder="1">
							
						    <!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								<div class="media-image">
								
									<img src="img/media/video.jpeg" alt="">
									
									<div class="media-hover">
										<div class="media-icons">
											<a href="https://www.youtube.com/watch?v=IjYuS19Ua80" data-group="media-jackbox" data-thumbnail="img/media/media2.jpg" class="jackbox media-icon"><i class="icons icon-play"></i></a>
                                        </div>
									</div>
								
								</div>
								
																
								<div class="media-info">
								
									<div class="media-header">
										
										<div class="media-format">
											<div>
											<i class="icons icon-video"></i>
											</div>
										</div>
										
										<div class="media-caption">
											<h2>荷兰龙泉大悲寺股东大会</h2>
										    <span class="tags">2016年4月5日</span>
										
										</div>
										
									</div>
									
									<div class="media-description">
										<p>荷兰龙泉大悲寺股东大会纪实报道(18-1-2016) </p>
									</div>
									
								</div>
								
																
							</div>
							<!-- /Media Item -->							
							</div>

							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-videos category-meetings" data-nameorder="2" data-dateorder="1">
							
						    <!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								<div class="media-image">
								
									<img src="img/media/video.jpeg" alt="">
									
									<div class="media-hover">
										<div class="media-icons">
											<a href="hhttps://www.youtube.com/watch?v=6UNcMRdqBcY" data-group="media-jackbox" data-thumbnail="img/media/media2.jpg" class="jackbox media-icon"><i class="icons icon-play"></i></a>
                                        </div>
									</div>
								
								</div>
								
																
								<div class="media-info">
								
									<div class="media-header">
										
										<div class="media-format">
											<div>
											<i class="icons icon-video"></i>
											</div>
										</div>
										
										<div class="media-caption">
											<h2>荷兰龙泉大悲寺周年庆祝活动专题报道</h2>
										    <span class="tags">2016年12月23日</span>
										
										</div>
										
									</div>
									
									<div class="media-description">
										<p>2016年12月11日至13日，隆重举办周年庆典。</p>
									</div>
									
								</div>
								
																
							</div>
							<!-- /Media Item -->							
							</div>
							

							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-videos category-meetings" data-nameorder="2" data-dateorder="1">
							
						    <!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								<div class="media-image">
								
									<img src="img/media/video.jpeg" alt="">
									
									<div class="media-hover">
										<div class="media-icons">
											<a href="https://www.youtube.com/watch?v=thXQixKQ6aU" data-group="media-jackbox" data-thumbnail="img/media/media2.jpg" class="jackbox media-icon"><i class="icons icon-play"></i></a>
                                        </div>
									</div>
								
								</div>
								
																
								<div class="media-info">
								
									<div class="media-header">
										
										<div class="media-format">
											<div>
											<i class="icons icon-video"></i>
											</div>
										</div>
										
										<div class="media-caption">
											<h2>欧洲荷兰龙泉大悲寺开光大典—剪彩揭幕仪式</h2>
										    <span class="tags">2015年12月13日</span>
										
										</div>
										
									</div>
									
									<div class="media-description">
										<p>欧洲荷兰龙泉大悲寺开光大典盛况—中国佛教协会会长—学诚大和尚主持开光仪式. </p>
									</div>
									
								</div>
								
																
							</div>
							<!-- /Media Item -->							
							</div>
							
							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-videos category-meetings" data-nameorder="2" data-dateorder="1">
							
						    <!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								<div class="media-image">
								
									<img src="img/media/video.jpeg" alt="">
									
									<div class="media-hover">
										<div class="media-icons">
											<a href="https://www.youtube.com/watch?v=IjYuS19Ua80" data-group="media-jackbox" data-thumbnail="img/media/media2.jpg" class="jackbox media-icon"><i class="icons icon-play"></i></a>
                                        </div>
									</div>
								
								</div>
								
																
								<div class="media-info">
								
									<div class="media-header">
										
										<div class="media-format">
											<div>
											<i class="icons icon-video"></i>
											</div>
										</div>
										
										<div class="media-caption">
											<h2>荷兰龙泉大悲寺股东大会</h2>
										    <span class="tags">2016年4月5日</span>
										
										</div>
										
									</div>
									
									<div class="media-description">
										<p>荷兰龙泉大悲寺股东大会纪实报道(18-1-2016) </p>
									</div>
									
								</div>
								
																
							</div>
							<!-- /Media Item -->							
							</div>

							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-videos category-meetings" data-nameorder="2" data-dateorder="1">
							
						    <!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								<div class="media-image">
								
									<img src="img/media/video.jpeg" alt="">
									
									<div class="media-hover">
										<div class="media-icons">
											<a href="hhttps://www.youtube.com/watch?v=6UNcMRdqBcY" data-group="media-jackbox" data-thumbnail="img/media/media2.jpg" class="jackbox media-icon"><i class="icons icon-play"></i></a>
                                        </div>
									</div>
								
								</div>
								
																
								<div class="media-info">
								
									<div class="media-header">
										
										<div class="media-format">
											<div>
											<i class="icons icon-video"></i>
											</div>
										</div>
										
										<div class="media-caption">
											<h2>荷兰龙泉大悲寺周年庆祝活动专题报道</h2>
										    <span class="tags">2016年12月23日</span>
										
										</div>
										
									</div>
									
									<div class="media-description">
										<p>2016年12月11日至13日，隆重举办周年庆典。</p>
									</div>
									
								</div>
								
																
							</div>
							<!-- /Media Item -->							
							</div>
							



							
						</div>
						
						<div class="animate-onscroll">
						
							<div class="divider"></div>
							
							<div class="numeric-pagination">
								<a href="#" class="button"><i class="icons icon-left-dir"></i></a>
								<a href="#" class="button active-button">1</a>
								<a href="#" class="button">2</a>
								<a href="#" class="button">3</a>
								<a href="#" class="button"><i class="icons icon-right-dir"></i></a>
							</div>
						
						</div>
						
						
					</div>
					
	<div class="col-lg-3 col-md-3 col-sm-4 sidebar">
	
{% include 'sidebar_activites.html' %}					
					
</div>
<!-- /Sidebar -->					
			
				</div>
				
			</section>
			<!-- /Section -->
{% endblock %}
				
